﻿BODY {
    font-size: 11px;
    background: #dbdfdf;
    /*background-repeat:no-repeat;*/
    margin: 0 0 0 0;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    background-image: url('images/fondo.jpg');
    /*height: 100%;*/
    /*background-size: 100% 100%;*/
}
.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 5px;
    width: 100%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    /*border-color:#BDBDBD;
    border-width:1px;
    border-style:solid;*/
}
.cardtext {
    font-size: 16px;
    font-weight: bold; /*text-align: center;*/
    margin: 0px 0px 15px 5px;
    height: 1em;
}
.cardcuerpo {
    background-color: White;
    color: #555454;
    border: 1px solid #999999;
    padding: 8px 8px 8px 8px;
}
.CssFondo {
    background-color: Black;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.invisible {
 display:none;
}