﻿a
{
    color: #0072a3;
}

a:hover, a:focus
{
    color: #014663;
}

.text-green
{
    color: #4a8432;
}

.text-red
{
    color: #944a4a;
}

.text-orange
{
    color: #b9801d;
}

hr
{
    height: 1px;
    border: none;
    border-top: 1px solid #b5b3b2;
}

::-moz-selection
{
    color: #eee;
    background: #2F4728;
}

::selection
{
    color: #eee;
    background: #2F4728;
}

/* shadows */

.drop-shadow
{
    -moz-box-shadow: #888888 0 3px 10px;
    -webkit-box-shadow: #888888 0 3px 10px;
    box-shadow: #888888 0 3px 10px;
}

.glow-shadow
{
    -moz-box-shadow: #000000 0 0 20px;
    -webkit-box-shadow: #000000 0 0 20px;
    box-shadow: #000000 0 0 20px;
}

.glow-shadow-2
{
    -moz-box-shadow: #b2b2b2 0 0 5px;
    -webkit-box-shadow: #b2b2b2 0 0 5px;
    box-shadow: #b2b2b2 0 0 5px;
}

.glow-shadow-3
{
    -moz-box-shadow: #000 0 0 8px;
    -webkit-box-shadow: #000 0 0 8px;
    box-shadow: #000 0 0 8px;
}

/* tooltip */

.ui-tooltip
{
    max-width: 300px;
    color: #c4d2db;
    background: #4d606d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: #b2b2b2 0 0 5px;
    -webkit-box-shadow: #b2b2b2 0 0 5px;
    box-shadow: #b2b2b2 0 0 5px;
}

.ui-tooltip h3
{
    color: #fff;
}

.ui-tooltip .middle-center
{
    padding: 10px;
}

/* form */

#page-content form
{
    margin-bottom: 3em;
}

.form-row-checkbox
{
    clear: both;
    margin: 1.5em 0 0 0;
}

.form-row-checkbox .checkbox
{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    width: 40%;
    text-align: right;
}

.form-row-checkbox .checkbox input
{
    background: none;
    border: none;
    width: 48px;
}

.form-row-checkbox label
{
    display: inline-block;
    min-width: 266px;
    width: 36.6%;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.5;
    font-size: 16px;
    color: #202020;
    padding: 0 7px;
}

.form-row-checkbox label strong
{
    font-weight: normal;
}

.form-row .form-left
{
    vertical-align: top;
    font-size: 16px;
    color: #202020;
    display: inline-block;
    padding-right: 32px;
    line-height: 26px;
    width: 36.6%;
    text-align: right;
}

.form-row .form-right
{
    display: inline-block;
    vertical-align: top;
    padding: 0 7px;
    font-weight: normal;
    width: 35%;
    min-width: 250px;
    font: 14px/26px "Lucida Sans Unicode" , "Lucida Grande" , "Arial" ,sans-serif;
}

.form-row
{
    clear: both;
    margin: 1.5em 0 0 0;
}

.form-row label
{
    vertical-align: top;
    cursor: pointer;
    font-size: 16px;
    color: #202020;
    display: inline-block;
    line-height: 32px;
    width: 40%;
    text-align: right;
}

.form-row label strong
{
    font-weight: normal;
    display: inline-block;
    line-height: 1.3;
}

.form-required
{
    display: inline-block;
    width: 32px;
    text-align: left;
    color: #7f7e7d;
    font-size: 22px;
}

.label-compact strong
{
    display: none;
}

.form-row input, .form-row select
{
    color: #5a5a5a;
    min-width: 250px;
    width: 35%;
    padding: 2px 7px;
    height: 26px;
    border: 1px solid #c0c0c0;
    font: normal 14px/26px "Lucida Sans Unicode" , "Lucida Grande" , "Arial" , sans-serif;
    background: #fff url("images/form/input-bg.gif") repeat-x;
    outline: none;
}

.form-row select
{
    height: 32px;
    padding: 5px;
    background: #fff;
    min-width: 266px;
    width: 36.6%;
}

.form-row input.tiny-input
{
    min-width: 6em;
    width: 6em;
}

.form-row input.small-input
{
    min-width: 10em;
    width: 10em;
}

.form-row input:hover
{
    background: #fff;
}

.form-row input:focus
{
    background: #fff;
    border-color: #175e7c;
    color: #5a5a5a;
}

.form-error label
{
    color: #730202;
}

input.form-error, select.form-error
{
    border-color: #730202;
}

.form-row input.form-disabled
{
    background: #d3d1ce;
    border-color: #bdbcb9;
    color: #a6a4a2;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Form note & label */

.form-note
{
    position: relative;
    margin: 1.5em 0 0 40.6%;
    clear: both;
    min-width: 265px;
    width: 36%;
    background: #4d606d;
    color: #c4d2db;
}

.form-note .note-arrow
{
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    background: url("images/form/note-arrow.gif") no-repeat center bottom;
}

.note
{
    padding: 9px;
}

.note h5
{
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    margin: 0 0 .25em 0;
    padding: 0;
}

.note ul
{
    margin: 0 0 .5em 0;
    padding: 0 0 0 15px;
}

#page-content .note p
{
    margin: 0 0 .5em 0;
}

#page-content .note *:last-child
{
    margin-bottom: 0;
}

.note a
{
    color: #fff;
    text-decoration: underline;
}

.form-row .add-label
{
    font-size: 12px;
    background: url("images/icons/account-icons.gif") no-repeat 0 2px;
    padding-left: 16px;
}

/* Form toggable notes */

.ui-note
{
    display: inline-block;
    position: relative;
}

.ui-note .note
{
    padding-right: 20px;
}

.ui-note .note-toggler
{
    padding-left: 6px;
    display: block;
}

.ui-note .form-note
{
    position: absolute;
    left: 6px;
    top: -38px;
    width: 200px;
    z-index: 5;
}

.ui-note .form-note.toggle-note
{
    display: none;
}

.ui-note .close-note
{
    position: absolute;
    right: 5px;
    top: 5px;
    background: url("images/icons/close-small.png") no-repeat 0 0;
    width: 10px;
    height: 10px;
}

.ui-note .note-arrow
{
    width: 5px;
    height: 10px;
    background: url("images/form/note-arrow-left.gif") no-repeat;
    display: block;
    position: absolute;
    left: -5px;
    top: 10px;
}

/* alerts */

.alert
{
    width: 600px;
    margin: 25px auto;
    color: #c4bdb0;
    font-size: 11px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    margin-top: -100px;
    margin-left: -300px;
    z-index: 99999999999;
}

.alert .alert-inner
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.alert.closeable .alert-inner
{
    width: 500px;
    float: left;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.alert .alert-message
{
    padding: 15px 10px 15px 50px;
}

.alert .alert-message .title strong
{
    font-size: 14px;
}

.alert .alert-message a
{
    color: #ffd800;
}

.alert .alert-close
{
    display: block;
    margin: 12px 16px 0 0;
    width: 68px;
    text-align: right;
    float: right;
    color: #fff;
    font: normal 11px/16px "Lucida Sans Unicode" , "Lucida Grande" , "Arial" , sans-serif;
    text-transform: uppercase;
    background: url("images/close-small.png") no-repeat right center;
    padding-right: 16px;
}

.alert .alert-close:hover, .alert .alert-close:focus, .alert .alert-close:active
{
    color: #fff;
}

.alert p.title
{
    line-height: 1.1;
    margin: 0;
}

.alert p
{
    line-height: 1.25;
    margin: 0 0 .75em 0;
}

.alert p:last-child
{
    margin-bottom: 0;
}

.alert ul
{
    line-height: 1.25;
    margin: .75em 0;
    padding: 0 0 0 25px;
}

.alert ul:last-child
{
    margin-bottom: 0;
}

.alert.error
{
    color: #c4bdb0;
    background: #530901 url("images/alert-error-close.png") 0 0 repeat-x;
}

.alert.error strong
{
    color: #fff;
}

.alert.error .alert-inner
{
    background: #732e03 url("images/alert-error.png") 0 0 repeat-x;
}

.alert.error .alert-message
{
    background: url("images/error.png") 13px 18px no-repeat;
}

.alert.error p.title
{
    color: #fff;
}

.alert.error .alert-message a
{
    color: #ffd800;
}

.alert.caution
{
    color: #6f3900;
    background: #ea8e00 url("images/alert-caution-close.png") 0 0 repeat-x;
}

.alert.caution strong
{
    color: #6f3900;
}

.alert.caution .alert-inner
{
    background: #efa700 url("images/alert-caution.png") 0 0 repeat-x;
}

.alert.caution .alert-message
{
    background: url("images/warning.png") 13px 18px no-repeat;
}

.alert.caution p.title
{
    color: #6f3900;
}

.alert.caution .alert-message a
{
    color: #006c9d;
}

.alert.success
{
    color: #adbda8;
    background: #2f4728 url("images/alert-success-close.png") 0 0 repeat-x;
}

.alert.success strong
{
    color: #fff;
}

.alert.success .alert-inner
{
    background: #4c7141 url("images/alert-success.png") 0 0 repeat-x;
}

.alert.success .alert-message
{
    background: url("images/success.png") 13px 18px no-repeat;
}

.alert.success p.title
{
    color: #fff;
}


.alert.success .alert-message a 
{
    color: #ffd800;
}
