﻿
.letranormal
{
    color: #000000;
    font-size: 8pt;
    font-style: normal;
    font-weight: normal;
}

.gridcontainer
{
    border: solid 1px #D0D0D0;
    border-top-width: 0px;
    width: 75%;
}
.grid
{
    width: 100%;
    border-width: 0px;
}

.grid caption
{
    background: #f9f9f9 url(../images/grey/captionbckg.gif) repeat-x;
    color: #000066;
    text-align: left;
    line-height: 22px;
    font-size: 11px;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 8px;
    font-family: tahoma,arial,verdana,sans-serif;
}

.grid table
{
    border-color: #D0D0D0;
    border-width: 1px;
}

.grid td, .grid th
{
    height: 18px;
    vertical-align: middle;
}

.grid th
{
    /*background: #e1e1e1 url(../images/grey/thbackground.gif) repeat-x;*/
    background: #e1e1e1;
    height: 19px;
    border: solid 1px #D0D0D0;
    font-weight: bold;
    color: #1c3b4d;
    
}

.grid td
{
    border: 1px solid #ededed;
    border-top-color: #fff;
    cursor: default;
    padding: 0 2px;
}

.selectedrow
{
    background: #c5d3db;
    border: 1px dotted #A3BAE9;
    color: black;
}

.altrow
{
    background-color: #dbdfdf;
}

.altoverow
{
    color: #5c7e99;
    background: #efefef url(../images/grey/rowover.gif) repeat-x left top;
}

.pagerstyle
{
    font-size: x-small;
    text-align: right;
    background-position: bottom left;
    background: #D0DEF0 url(../images/grey/toolbarbck.gif) repeat-x scroll left top;
}

.gopag
{
    font-size: x-small;
    width: 20px;
}

.pagprev
{
    background: transparent url(../images/grey/previous.png) no-repeat scroll center;
    height: 1.3em;
    width: 16px;
    cursor: pointer;
    border: 0px;
}
.pagnext
{
    background: transparent url(../images/grey/next.png) no-repeat scroll center;
    height: 1.3em;
    width: 16px;
    cursor: pointer;
    border: 0px;
}

.pagfirst
{
    background: transparent url(../images/grey/first.png) no-repeat scroll center;
    height: 1.3em;
    width: 16px;
    cursor: pointer;
    border: 0px;
}
.paglast
{
    background: transparent url(../images/grey/last.png) no-repeat scroll center;
    height: 1.3em;
    width: 16px;
    cursor: pointer;
    border: 0px;
}
